<app-header></app-header>
<div class="contenu">
<h1>
  Conditions d'utilisation
</h1>

<p>
Bienvenue sur <b>Sama Ndouguou</b> . L'utilisation de nos services est soumise aux conditions énoncées ci-dessous. En accédant à notre plateforme, vous acceptez ces conditions d'utilisation. Si vous n'êtes pas d'accord avec ces conditions, veuillez vous abstenir d'utiliser nos services.
</p>

<h3>1. Utilisation Autorisée</h3>
<p>
Vous êtes autorisé à utiliser <b>Sama Ndouguou</b> conformément à ces conditions d'utilisation et aux lois en vigueur. Il est interdit d'utiliser nos services à des fins illégales ou non autorisées.
</p>

<h3> 2. Compte Utilisateur</h3>
<p>
Certains services de <b>Sama Ndouguou</b> peuvent nécessiter la création d'un compte utilisateur. Vous êtes responsable de la confidentialité de vos informations d'identification. En cas d'utilisation non autorisée de votre compte, veuillez nous en informer immédiatement.
</p>

<h3>3. Contenu de l'Utilisateur</h3>
<p>
En soumettant du contenu sur <b>Sama Ndouguou</b>, vous garantissez que vous avez les droits nécessaires sur ce contenu. Nous nous réservons le droit de supprimer tout contenu jugé inapproprié ou en violation de ces conditions.
</p>

<h3>4. Responsabilité de l'Utilisateur</h3>
<p>
Vous êtes responsable de l'utilisation que vous faites de <b>Sama Ndouguou</b>. Nous déclinons toute responsabilité en cas de perte de données, d'interruption de service ou de dommages résultant de votre utilisation de nos services.
</p>

<h3>5. Modifications des Conditions</h3>
<p>
<b>Sama Ndouguou</b> se réserve le droit de modifier ces conditions d'utilisation à tout moment. Les utilisateurs seront informés des changements importants, mais il est de leur responsabilité de consulter régulièrement ces conditions.
</p>

<h3>6. Liens Externes</h3>
<p>
Notre plateforme peut contenir des liens vers des sites tiers. <b>Sama Ndouguou</b> n'est pas responsable du contenu ou des pratiques de confidentialité de ces sites.
</p>

<h3>7. Interruption de Service</h3>
<p>
<b>Sama Ndouguou.com</b> se réserve le droit d'interrompre temporairement ou définitivement les services de <b>Sama Ndouguou</b> sans préavis.
</p>

<h3>8. Droit Applicable</h3>
<p>
Ces conditions d'utilisation sont régies par les lois en vigueur dans votre juridiction.
</p>

<h3>9. Contact</h3>
<p>
Pour toute question ou préoccupation concernant ces conditions d'utilisation, veuillez nous contacter par e-mail <b>smndouguou@gmail.com </b> ou par téléphone <b>77 777 77 77</b> .
</p>
</div>
