<div class="contact">
  <div class="tel text-center">
    <i class="bi bi-telephone "></i>
    <p class="">+221 77 777 77 77</p>
  </div>

    <div class="email">
      <i class="bi bi-envelope-fill"></i>
      <p>smndouguou@gmail.com</p>
    </div>

    <div class="localisation">
      <i class="bi bi-geo-alt-fill"></i>
      <p>Dakar, Sénégal</p>
    </div>
</div>

<div class="footer">

      <!-- pages et logo -->
      <div class="gpages">

        <div class="info">
        <!-- logo -->
          <div class="divlogo">
            <img src="../../../assets/logo.png" class="logo" alt="">
            <div class="icon">
              <i class="bi bi-facebook"></i>
              <i class="bi bi-instagram"></i>
              <i class="bi bi-twitter"></i>
            </div>
          </div>


        <!-- bloc de page 1 -->
        <div class="page1">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/accueil">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recettes">Recettes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mention" >Mention légales</a>
            </li>
          </ul>
        </div>

        <!-- bloc de page 2 -->
        <div class="page2">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="packs">Packs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/a propos">A propos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/panier">Panier</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/condition" >Condition d'utilisateur</a>
            </li>
          </ul>
        </div>

        <!-- newsletter -->
        <div class="news">
          <h3>Newsletter</h3>
          <input type="text" class="input"><br>
          <button class="bouton">S'inscrire</button>
        </div>
        </div>


      </div>
</div>


<!-- copyright -->
<div class="bas">
  <p>
    <i class="bi bi-c-circle"></i> Copyright Sama Ndouguou 2024
  </p>
</div>
