<app-header></app-header>
<!-- banier -->
    <div class=" mb-3 container" >
      <div class="row g-0 contenu">
        <!-- titre -->
        <div class="col-md-8 titre">
          <h1>Sama Ndouguou</h1>
          <h3>Thiono dèm marché diekh na</h3>
        </div>
        <!-- image slide -->
        <div class="col-md-4">
          <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <!-- 1ere image -->
              <div class="carousel-item active">
                <img src="../../../assets/baniere/banierAccueil.png" class="d-block w-100 img" alt="...">
              </div>
              <!-- 2eme image -->
              <div class="carousel-item">
                <img src="../../../assets/baniere/banierAccueil2.png" class="d-block w-100 img" alt="...">
              </div>
              <!-- 3eme image -->
              <div class="carousel-item">
                <img src="../../../assets/baniere/banierAccuiel3.png" class="d-block w-100 img" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            </button>
          </div>
        </div>
      </div>
    </div>

<!-- carte légumes -->
    <div class="container titrelegumes">
      <h2>Nos légumes</h2>
      <div>
        <input type="search" placeholder="Recherche"><i class="bi bi-search search"></i>
      </div>
    </div>

  <div>
    <div class="gcartelegumes">

      <div class="card carte" *ngFor=" let produit of tabListProduit" >
        <div class="contour"></div>
        <img src="http://127.0.0.1:8000/storage/{{produit.image}}" class="card-img-top carteimg" alt="..." >
        <div class="card-body">
          <h3 class="card-title" >Nom : {{produit.nomProduit}}</h3>
          <p class="card-text">{{produit.prix}} fr</p>
        </div>
        <div class="contour2"><i class="bi bi-cart3" (click)="addPanier(produit)"></i></div>
      </div>


    </div>
  </div>
    <!-- pagination -->
    <div class="iconpagination">

      <div class="chevron">
        <i class="bi bi-chevron-left"></i>
      </div>
      <div class="un">
        <i class="bi bi-1-square"></i>
      </div>
      <div class="deux">
        <i class="bi bi-2-square"></i>
      </div>
      <div class="trois">
        <i class="bi bi-3-square"></i>
      </div>
      <div class="">
        <i class="bi bi-chevron-right"></i>
      </div>
    </div>


    <br>
<!-- témoignages -->
  <h2 class="container temoignages">Nos témoignages</h2>
  <div class="gcarte">

    <div class="card cartetemoin" style="width: 18rem;">
      <div class="contenutemoin"></div>
      <img src="../../../assets/temoin1.png" class="img-top imgtemoin" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mme NDIAYE</h5>
        <p class="card-text">"Les légumes de ce site sont d'une fraîcheur exceptionnelle ! Chaque commande est un véritable régal pour les papilles.” </p>
      </div>
      <div class="contenutemoin2" ></div>
    </div>

    <div class="card cartetemoin" style="width: 18rem;">
      <div class="contenutemoin"></div>
      <img src="../../../assets/temoin2.png" class="img-top imgtemoin" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mme DIALLO</h5>
        <p class="card-text">“Dans ce site la variété des produits proposés et la qualité du service font de cette boutique en ligne mon choix numéro un pour mes achats de légumes. Merci pour cette expérience agréable et saine!" </p>
      </div>
      <div class="contenutemoin2" ></div>
    </div>

    <div class="card cartetemoin" style="width: 18rem;">
      <div class="contenutemoin"></div>
      <img src="../../../assets/temoin1.png" class="img-top imgtemoin" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mme MENDY</h5>
        <p class="card-text">"J'adore commander mes légumes sur ce site ! La qualité est toujours au top, et la livraison est super rapide. Mes repas sont plus savoureux que jamais. Je recommande à tous les amateurs de légumes frais!" </p>
      </div>
      <div class="contenutemoin2" ></div>
    </div>

  </div>

<br>

<!-- etapes à suivre -->
  <h2 class="container etapes">Les étapes à suivre pour commander</h2>
  <div class="gcarte">

    <div class="card cartetape" style="width: 17rem;">
      <img src="../../../assets/Search.png" class="img-top imgetape" alt="...">
      <div class="card-body titretape">
        <h5 class="card-title">Etape 1 </h5>
        <h5 class="card-title">La recherche</h5>
        <p class="card-text">Vous pouvez parcourir notre site et utilise le module de recherche afin de découvrir  les offres disponibles.</p>
      </div>
    </div>

    <div class="card cartetape" style="width: 17rem;">
      <img src="../../../assets/Search.png" class="img-top imgetape" alt="...">
      <div class="card-body titretape">
        <h5 class="card-title">Etape 1 </h5>
        <h5 class="card-title">La recherche</h5>
        <p class="card-text">Vous pouvez parcourir notre site et utilise le module de recherche afin de découvrir  les offres disponibles.</p>
      </div>
    </div>

    <div class="card cartetape" style="width: 17rem;">
      <img src="../../../assets/Search.png" class="img-top imgetape" alt="...">
      <div class="card-body titretape">
        <h5 class="card-title">Etape 1 </h5>
        <h5 class="card-title">La recherche</h5>
        <p class="card-text">Vous pouvez parcourir notre site et utilise le module de recherche afin de découvrir  les offres disponibles.</p>
      </div>
    </div>

  </div>

<!-- espace entre footer et les cartes -->
  <div class="espace"></div>

<app-footer></app-footer>
