<app-header></app-header>
<!-- banier -->
<div class="top"></div>

<div class="card mb-3 container banier ">
  <div class="row g-0">

    <div class="col-md-8">
      <div class="card-body titre">
        <h1 class="card-title">Apprendre à cuisinier</h1>
      </div>
    </div>

    <!-- image -->
    <div class="col-md-4 gimg">
      <img src="../../../assets/baniere/recettes.png" class="img-fluid img" alt="...">
    </div>
  </div>
</div>

  <!-- button de recherche -->
  <div class="container buttonsearch">
    <input type="search" placeholder="Recherche"><i class="bi bi-search search"></i>
  </div>


  <!-- body -->
  <div class=" categorie">

    <div class=" container titrecategorie">
      <div class="navbar navbar-expand-lg ">
        <div class="container-fluid">

          <button class="navbar-toggler toogle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon  "></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
              <li class="nav-item" routerLinkActive="active" >
                <a class="nav-link " aria-current="page" routerLink="/">Tous</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/thiep">Thiep</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/yassa">Yassa</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/saka saka">Saka saka</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/firire">Firire</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/deukhine">Deukhine</a>
              </li>
            </ul>

          </div>

        </div>
      </div>
    </div>

    <div class="">
      <div class="container">
        <div class=" gcartelegumes">

          <div class="card carte">
            <div class="contour"></div>
            <iframe class="carteimg" src="https://www.youtube.com/embed/YMoa-uSyfw8?si=y6jraaUX-0YWSygx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <!-- <img src="../../../assets/légumes/tomates.png" class="card-img-top carteimg" alt="..."> -->
            <div class="card-body">
              <h3 class="card-title">Plat : thiep</h3>
              <p class="card-text"></p>
            </div>
            <div class="contour2"></div>
          </div>

          <div class="card carte">
            <div class="contour"></div>
            <iframe class="carteimg" src="https://www.youtube.com/embed/YMoa-uSyfw8?si=y6jraaUX-0YWSygx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <!-- <img src="../../../assets/légumes/tomates.png" class="card-img-top carteimg" alt="..."> -->
            <div class="card-body">
              <h3 class="card-title">Plat : thiep</h3>
              <p class="card-text"></p>
            </div>
            <div class="contour2"></div>
          </div>

          <div class="card carte">
            <div class="contour"></div>
            <iframe class="carteimg" src="https://www.youtube.com/embed/YMoa-uSyfw8?si=y6jraaUX-0YWSygx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <!-- <img src="../../../assets/légumes/tomates.png" class="card-img-top carteimg" alt="..."> -->
            <div class="card-body">
              <h3 class="card-title">Plat : thiep</h3>
              <p class="card-text"></p>
            </div>
            <div class="contour2"></div>
          </div>

          <div class="card carte">
            <div class="contour"></div>
            <iframe class="carteimg" src="https://www.youtube.com/embed/YMoa-uSyfw8?si=y6jraaUX-0YWSygx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <!-- <img src="../../../assets/légumes/tomates.png" class="card-img-top carteimg" alt="..."> -->
            <div class="card-body">
              <h3 class="card-title">Plat : thiep</h3>
              <p class="card-text"></p>
            </div>
            <div class="contour2"></div>
          </div>

        </div>
      </div>

      <!-- pagination -->
      <div class="iconpagination">

        <div class="chevron">
          <i class="bi bi-chevron-left"></i>
        </div>
        <div class="un">
          <i class="bi bi-1-square"></i>
        </div>
        <div class="deux">
          <i class="bi bi-2-square"></i>
        </div>
        <div class="trois">
          <i class="bi bi-3-square"></i>
        </div>
        <div class="">
          <i class="bi bi-chevron-right"></i>
        </div>
      </div>
    </div>


  </div>

  <app-footer></app-footer>
