<app-headerclient></app-headerclient>
<div class="catégorie">

  <div class="container ">
    <div class="card mb-3 " >
      <div class="row g-0 carte" *ngIf="userClient">
        <div class="col-md-5">
          <img src="http://127.0.0.1:8000/images/{{userClient.image}}" class="img-fluid imgcartre" alt="" >
        </div>
        <div class="col-md-7 titre ">
          <div class="card-body">
            <h4 class="card-title">Nom : {{userClient.nom}} </h4>
            <h4 class="card-title">Prenom : {{userClient.prenom}} </h4>
            <h4 class="card-title">Membre : {{ userClient.created_at | date:'mediumDate' }}</h4>
            <h4 class="card-title">Téléphone : {{userClient.telephone}}</h4>
          </div>
        </div>
        
      </div>
    </div>
  </div>

</div>
