/* logo */
.imglogo{
  height: 70px;
}

/* noms des liens */
.nomlien{
  margin:0 auto;
}
.nomlien li a{
  font-size: 20px;
  color: #1A6060;
  font-weight: bold;
  text-align: center;
}
.active{
  border-bottom: 2px solid #1A6060;
}

/* button compte */
.compte li a{
  font-size: 20px;
  background-color: #1A6060;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  text-align: center;

}

/* tous l'entete */
.header{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.toogle{
  color: #1A6060;
}
