<app-header></app-header>
<!-- contact -->
<div class="contact">
  <div class="tel">
    <i class="bi bi-telephone"></i>
    <p>+221 77 777 77 77</p>
  </div>

  <div class="email">
    <i class="bi bi-envelope-fill"></i>
    <p>smndouguou@gmail.com</p>
  </div>

  <div class="localisation">
    <i class="bi bi-geo-alt-fill"></i>
    <p>Dakar, Sénégal</p>
  </div>

</div>

<!-- formulaire de contact -->
<form class="container" >
  <h2 class="card-title ">Contatez - nous</h2>
  <div class="mb-3 nomprenom">
    <input type="text" placeholder="Nom" class="me-5 espace ">
    <input type="text" placeholder="Prénom">
  </div>
  <div class="mb-3 nomprenom">
    <input type="email" id="exampleInputEmail1" placeholder="E-mail" class="me-5 espace" aria-describedby="emailHelp">
    <input type="tel" placeholder="Téléphone" id="exampleInputPassword1">
  </div>
  <div>
    <textarea name="" id="" cols="60" rows="8" placeholder="Message" class="message"></textarea>
  </div>

  <div class="bton">
    <button type="submit" class="btn">Envoyer</button>
  </div>
</form>

<br>
