<header></header>


<!-- formulaire de contact -->

  <div class="card mb-3 container  " >
    <form class="row g-0 formulaire">

      <!-- l'image -->
      <div class="col-md-5 image">
        <img src="../../../assets/table.png" class="img-fluid" alt="...">
      </div>

      <!-- les champs de saisir -->
      <div class="col-md-7 ">
          <div class="card-body">

            <h2 class="card-title">Contatez - nous</h2>

            <div class=" nomprenom">
              <div class="d-block">
              <input type="text" placeholder="Nom" class="me-3" [(ngModel)]="nom"  name="nom" required (input)="verifNomFonction()">
              <p class="text-danger ms-3" *ngIf="exactNom == false">{{verifNom}}</p>
              <p class="text-success ms-3" *ngIf="exactNom == true"><i class="bi bi-check2-all"></i> Exact !</p>
            </div>

            <div class="d-block">
              <input type="text" placeholder="Prénom" class=""[(ngModel)]="prenom"  name="prenom" required (input)="verifPrenomFonction()">
              <p class="text-danger ms-3" *ngIf="exactPrenom == false">{{verifPrenom}}</p>
              <p class="text-success ms-3" *ngIf="exactPrenom == true"><i class="bi bi-check2-all"></i> Exact !</p>

            </div>
            </div>

            <div class=" nomprenom">
              <div class="d-block">
                <input type="email" id="exampleInputEmail1" placeholder="E-mail" class="me-3" aria-describedby="emailHelp" [(ngModel)]="email"  name="email" required (input)="verifEmailFonction()">
                <p class="text-danger ms-3" *ngIf="exactEmail == false">{{verifEmail}}</p>
                <p class="text-success ms-3" *ngIf="exactEmail == true"><i class="bi bi-check2-all"></i> Exact !</p>
              </div>
              <div class="d-block">
                <input type="tel" placeholder="Téléphone" class="" [(ngModel)]="telephone"  name="telephone" required (input)="verifTelephoneFonction()">
                <p class="text-danger ms-3" *ngIf="exactTelephone == false">{{verifTelephone}}</p>
                <p class="text-success ms-3" *ngIf="exactTelephone == true"><i class="bi bi-check2-all"></i> Exact !</p>
              </div>
            </div>

            <div class="gmessage mt-3">
              <div class="d-block">
              <textarea name="" id="" cols="43" rows="3" placeholder="Message" class="message" [(ngModel)]="message"  name="message" required (input)="verifMessageFonction()">
              </textarea>
              <p class="text-danger ms-3" *ngIf="exactMessage == false">{{verifMessage}}</p>
              <p class="text-success ms-3" *ngIf="exactMessage == true"><i class="bi bi-check2-all"></i> Exact !</p>
            </div>
            </div>

            <div class="bton mt-3" >
              <button type="submit" class="btn" (click)="addConntact()">Envoyer</button>
            </div>

          </div>
      </div>

        <!-- contacts -->
      <div class="contact">
        <div class="tel">
          <i class="bi bi-telephone"></i>
          <p>+221 77 702 79 00</p>
        </div>

        <div class="email">
          <i class="bi bi-envelope-fill"></i>
          <p>smndouguou@gmail.com</p>
        </div>

        <div class="localisation">
          <i class="bi bi-geo-alt-fill"></i>
          <p>Dakar, Sénégal</p>
        </div>

      </div>

    </form>
  </div>

  <div class="espace"></div>

<footer></footer>
