<app-header></app-header>


<!-- formulaire de contact -->

  <div class="card mb-3 container  " >
    <form class="row g-0 formulaire">

      <!-- l'image -->
      <div class="col-md-5 image">
        <img src="../../../assets/table.png" class="img-fluid" alt="...">
      </div>

      <!-- les champs de saisir -->
      <div class="col-md-7 ">
          <div class="card-body">

            <h2 class="card-title">Contatez - nous</h2>

            <div class="mb-3 nomprenom">
              <input type="text" placeholder="Nom" class="mb-3 me-3">
              <input type="text" placeholder="Prénom" class="mb-3 ">
            </div>

            <div class="mb-3 nomprenom">
              <input type="email" id="exampleInputEmail1" placeholder="E-mail" class="mb-3 me-3" aria-describedby="emailHelp">
              <input type="tel" placeholder="Téléphone" class="mb-3 " id="exampleInputPassword1">
            </div>

            <div class="gmessage">
              <textarea name="" id="" cols="43" rows="3" placeholder="Message" class="message"></textarea>
            </div>

            <div class="bton">
              <button type="submit" class="btn">Envoyer</button>
            </div>

          </div>
      </div>

        <!-- contacts -->
      <div class="contact">
        <div class="tel">
          <i class="bi bi-telephone"></i>
          <p>+221 77 702 79 00</p>
        </div>

        <div class="email">
          <i class="bi bi-envelope-fill"></i>
          <p>smndouguou@gmail.com</p>
        </div>

        <div class="localisation">
          <i class="bi bi-geo-alt-fill"></i>
          <p>Dakar, Sénégal</p>
        </div>

      </div>

    </form>
  </div>

  <div class="espace"></div>

<app-footer></app-footer>
