<header></header>
<!-- baniere -->
  <div class="container banier">
    <div class="banierimg1">
      <img src="../../../assets/baniere/Vector 14.png" alt="">
    </div>
    <div class="titrebanier">
      <h1>Des légumes sélectionnés pour sublimer vos plats</h1>
    </div>
    <div class=" banierimg2">
      <img src="../../../assets/baniere/banierpacks2.png" alt="">
    </div>
  </div>

  <!-- button de recherche -->
  <div class="container buttonsearch">
    <input type="search" placeholder="Recherche" [(ngModel)]="filterPackValue" (input)="onSearchPack()" >
  </div>

  <!-- carte des packs -->
  <div class="gcarte">
    <div *ngIf="visiblePackProduits.length === 0">
      <h1 style="color: red;">🙄 Pack non trouvé.</h1>
    </div>

    <div class="card cartepacks" *ngFor="let pack of visiblePackProduits">
      <div class="contenupacks"></div>
      <img [src]="pack.image" class="img-top imgpacks" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ tronquerTexte(pack.nom, 16) }}</h5>
        <div class="button">
          <button class="btn" (click)=" Packclique(pack)"  [routerLink]="['/packs/decouvrir', pack.idPack]">Découvrir</button>
        </div>
      </div>
      <div class="contenupacks2" ></div>
    </div>

  </div>

  <div class="iconpagination">
    <button *ngFor="let page of totalPagesPackArray()" (click)="setPagePack(page)">{{ page }}</button>
  </div>


<div class="espace"></div>
<footer></footer>
