<app-header></app-header>
<!-- baniere -->
  <div class="container banier">
    <div class="banierimg1">
      <img src="../../../assets/baniere/Vector 14.png" alt="">
    </div>
    <div class="titrebanier">
      <h1>Des légumes sélectionnés pour sublimer vos plats</h1>
    </div>
    <div class=" banierimg2">
      <img src="../../../assets/baniere/banierpacks2.png" alt="">
    </div>
  </div>

  <!-- button de recherche -->
  <div class="container buttonsearch">
    <input type="search" placeholder="Recherche"><i class="bi bi-search search"></i>
  </div>

  <!-- carte des packs -->
  <div class="gcarte">

    <div class="card cartepacks" >
      <div class="contenupacks"></div>
      <img src="../../../assets/plats/thip dieunne.png" class="img-top imgpacks" alt="...">
      <div class="card-body">
        <h5 class="card-title"> Thiep bou dieune bou khonke </h5>
        <div class="button">
          <button>Découvrir</button>
        </div>
      </div>
      <div class="contenupacks2" ></div>
    </div>

    <div class="card cartepacks" >
      <div class="contenupacks"></div>
      <img src="../../../assets/plats/YASSAG-1-scaled-removebg-preview.png" class="img-top imgpacks" alt="...">
      <div class="card-body">
        <h5 class="card-title">Yassa Poulet</h5>
        <div class="button">
          <button>Découvrir </button>
        </div>
      </div>
      <div class="contenupacks2" ></div>
    </div>

    <div class="card cartepacks" >
      <div class="contenupacks"></div>
      <img src="../../../assets/plats/deukhine.png" class="img-top imgpacks" alt="...">
      <div class="card-body">
        <h5 class="card-title">Deukhine</h5>
        <div class="button">
          <button>Découvrir</button>
        </div>
      </div>
      <div class="contenupacks2" ></div>
    </div>

  </div>
  
<div class="espace"></div>
<app-footer></app-footer>
