<h2>Page d'inscription</h2>
<div class=" mb-3 container" >
  <div class="row g-0 contenu">
    <div class="col-md-8 info">
        <input type="text" class="mt-5" placeholder="Votre nom"> <br>
        <input type="text" placeholder="Votre prénom"><br>
        <input type="email" placeholder="Votre email"><br>
        <input type="text" placeholder="mot de passe"><br>
        <input type="text" placeholder="confirmation"><br>
        <!-- <option value="">
          <section>admin</section>
          <section>admin</section>
          <section>admin</section>
        </option> -->
        <div class="btn">
          <button>S'inscrire</button>
        </div>
        <!-- <h5 class="card-title"> </h5> -->
        <p class="card-text">Vous avez déjà un compte ?</p>
        <div class="lien">
          <a href="">Connecter</a>
        </div>
    </div>
    <div class="col-md-4">
      <img src="../../../assets/compte.png" class="img-fluid img" alt="...">
    </div>
  </div>
</div>
