/* inscription */
.top{
  margin-top: 120px;
}
h2{
  color: #1A6060;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}
.contenu{
  background-color: white;
  border-top: 6px solid #2FA7A7;
  border-left: 6px solid #2FA7A7;
  box-shadow: 6px 6px #1A6060;
  border-radius: 60px;
  padding: 15px 20px;

}
.gimg{
  display: flex;
  justify-content: center;
}
.img{
  height: 300px;
}
.info{
  justify-content: center;
}
.champs span{
  /* border: 2px solid; */
  font-size: 15px;
}
.champs p{
  /* border: 2px solid; */
  font-size: 15px;
}
.champs{
  /* border: 2px solid; */
  display: flex;
  justify-content: center;
  gap: 30px;
}
.info input{
  background-color: #EDEDED;
  justify-content: center;
  border:2px solid #1A6060;
  border-radius: 40px;
  padding: 10px 30px;
  outline: none;
  width: 100%;
}
.file-input input[type="file"]{
  background-color: none ;
  justify-content: center;
  border:none;
  border-radius: 40px;
  padding: 10px 9px;
  outline: none;
  width: 236px;
}
button{
  background-color: #2FA7A7;
  color: white;
  border: none;
  padding: 6px 40px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 23px;
}
.btn{
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
p{
  font-size: 20px;
}
.lien a{
  text-decoration: none;
  color: #1A6060;
  font-size: 20px;
  font-weight: bold;
}
.lien{
  margin-top: -18px;
}


/* connexion */
label{
  font-weight: bold;
  font-size: 25px;
}
.bouton{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

 /*tablette*/
 @media screen and (max-width: 991px){
  .gimg{
    display: flex;
    justify-content: left;
  }
  .img{
    height: 250px;
  }
  .info{
    justify-content: left;

  }
  .champs span{
    /* border: 2px solid; */
    font-size: 10px;
  }
  .champs p{
    /* border: 2px solid; */
    font-size: 10px;
  }
  .info input{
    padding: 7px 25px;
    width: 100%;
  }
  .info select{
    padding: 7px 10px;
    height: 41.1px;
    width: 167px;
  }
  button{
    padding: 6px 35px;
    font-size: 21px;
  }
  p{
    text-align: center;
    font-size: 20px;
  }
  .lien{
    text-align: center;
    margin-top: -18px;
  }
 }

 /* téléphone */
@media screen and (max-width: 767px) {
  .gimg{
    display: flex;
    justify-content: center;
  }
  .champs{
    width: 100%;
  }
  .info select{
    padding: 7px 10px;
    height: 41.1px;
    width: 210px;
  }
}

/* téléphone petit model */
@media screen and (max-width: 468px) {
  .gimg{
    display: flex;
    justify-content: center;
  }
  .img{
    height: 250px;
  }
  .champs{
    /* border: 2px solid; */
    display: block;
    width: 100%;
    margin-left:auto;
    margin-right: auto;
  }
  .info input{
    width: 100%;
    margin:0 auto;
    margin-right: auto;
  }
  .info select{
    padding: 7px 20px;
    height: 41.1px;
    width: 100%;
  }
  button{
    padding: 6px 30px;
  }

}
