<header></header>

<!-- baniere -->
<div class="container gcontenant">
  <div class="contenant">
    <div class=" contenant1"></div>
    <p class="ecrit">A propos de nous</p>
  </div>

  <div class="gimg">
    <img src="../../../assets/baniere/baniereApropos.png" alt="" class="imdcontenant">
  </div>

</div>

<div class="espacebaniereimgtext"></div>

<!-- la présentation -->
<div class="card mb-3 container textimg">
  <div class="row g-0">

    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">Présentation</h5>
        <p class="card-text"><b>Sama Ndouguou</b>, la plateforme idéale pour vos achats de légumes frais et de packs . Découvrez une variété de produits de qualité pour une alimentation saine et délicieuse, le tout avec la facilité de la commande en ligne. </p>
      </div>
    </div>

    <div class="col-md-5 divimage">
      <img src="../../../assets/baniere/imgcalebasse.png" class="img-fluid image " alt="...">
    </div>
  </div>
</div>

<!-- texte -->
<div class="container texte">
  <h3>Pourquoi avons nous créer la plateforme ? </h3>
  <p>De nos jours, les femmes mènent des vies actives, équilibrant leurs responsabilités multiples tout en cherchant à offrir des repas frais, savoureux et variés à leur famille peut devenir un défi.</p>
 <p>
   Le dilemme auquel les femmes font face est de concilier la recherche de produits de qualité avec la nécessité d'une préparation de repas efficace.
  Trouver des ingrédients frais et variés selon nos goûts peut être difficile et prendre beaucoup de temps.</p>
  <p> C'est pour cela que nous avons créé cette plateforme en ligne de vente  dédiée à simplifier et rehausser le processus d'achat de légumes et de partage de recettes.</p>
</div>

<div class="espacebaniereimgtext"></div>

<!-- texte + groupe img -->
<div class="container gtexteimg">

    <div class="col-md-6">
      <div class="card-body imgtexte">
        <p class="card-text">Notre passion est de vous offrir des légumes frais et des packs pratiques, cultivés avec soin pour enrichir votre expérience culinaire. Nous croyons en la simplicité et la qualité, facilitant ainsi vos achats en ligne. Rejoignez-nous dans notre engagement envers une alimentation saine et savoureuse. Sama Ndouguou, votre partenaire pour des repas délicieux au quotidien!</p>
      </div>
    </div>

  <div class="col-md-6 imagetxt">
    <img src="../../../assets/baniere/groupeimg.png" class="img-fluid " alt="...">
  </div>
</div>

<div class="espacebaniereimgtext"></div>


<!-- le team -->
  <h2 class="container titreteam">Team</h2>
  <div class="team">
    <img src="../../../assets/team1.png" alt="">
    <img src="../../../assets/team2.png" alt="">
    <img src="../../../assets/team3.png" alt="">
  </div>

<div class="espacefooter"></div>

<footer></footer>
