<app-headerdashboard></app-headerdashboard>
<!-- catégories -->
<div class="catégorie">

  <!-- button ajouter et search  -->
  <div class="gbutton">
    <div class="ajout me-5">
      <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Ajouter</button>
    </div>
    <div class="recherche">
      <input type="search" placeholder="Recherche"><i class="bi bi-search"></i>
    </div>
  </div>


    <!-- carte des livreures -->
  <div >

    <div class="gcarte">

      <div class="card cartepacks" >
        <div class="contenupacks"></div>
        <img src="https://img.freepik.com/free-photo/attractive-young-african-american-male-dressed-casually-looking-camera_273609-9402.jpg?w=740&t=st=1706492602~exp=1706493202~hmac=16bad4d070a32d38c5f4796009677a36121173e20ec82447d9c1f4726944a2a4" class="img-top imgperson" alt="...">
        <div class="card-body titreproduits">
          <h4 class="card-title"> Nom : Moussa NDIAYE</h4>
        </div>
        <div class="iconproduits">
          <!-- <i class="bi bi-check2-all me-3"></i> -->
          <i class="bi bi-eye-fill me-3"></i>
          <i class="bi bi-pencil-square me-3"></i>
          <i class="bi bi-trash-fill me-3"></i>
        </div>
        <div class="contenupacks2" ></div>
      </div>

      <div class="card cartepacks" >
        <div class="contenupacks"></div>
        <img src="https://img.freepik.com/free-photo/attractive-young-african-american-male-dressed-casually-looking-camera_273609-9402.jpg?w=740&t=st=1706492602~exp=1706493202~hmac=16bad4d070a32d38c5f4796009677a36121173e20ec82447d9c1f4726944a2a4" class="img-top imgperson" alt="...">
        <div class="card-body titreproduits">
          <h4 class="card-title"> Nom : Moussa NDIAYE</h4>
        </div>
        <div class="iconproduits">
          <!-- <i class="bi bi-check2-all me-3"></i> -->
          <i class="bi bi-eye-fill me-3"></i>
          <i class="bi bi-pencil-square me-3"></i>
          <i class="bi bi-trash-fill me-3"></i>
        </div>
        <div class="contenupacks2" ></div>
      </div>

      <div class="card cartepacks" >
        <div class="contenupacks"></div>
        <img src="https://img.freepik.com/free-photo/attractive-young-african-american-male-dressed-casually-looking-camera_273609-9402.jpg?w=740&t=st=1706492602~exp=1706493202~hmac=16bad4d070a32d38c5f4796009677a36121173e20ec82447d9c1f4726944a2a4" class="img-top imgperson" alt="...">
        <div class="card-body titreproduits">
          <h4 class="card-title"> Nom : Moussa NDIAYE</h4>
        </div>
        <div class="iconproduits">
          <!-- <i class="bi bi-check2-all me-3"></i> -->
          <i class="bi bi-eye-fill me-3"></i>
          <i class="bi bi-pencil-square me-3"></i>
          <i class="bi bi-trash-fill me-3"></i>
        </div>
        <div class="contenupacks2" ></div>
      </div>

    </div>

    <!-- pagination -->
    <div class="iconpagination">

      <div class="chevron">
        <i class="bi bi-chevron-left"></i>
      </div>
      <div class="un">
        <i class="bi bi-1-square"></i>
      </div>
      <div class="deux">
        <i class="bi bi-2-square"></i>
      </div>
      <div class="trois">
        <i class="bi bi-3-square"></i>
      </div>
      <div class="">
        <i class="bi bi-chevron-right"></i>
      </div>
    </div>

  </div>

</div>

<!-- Modal livreur -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 titremodal" id="exampleModalLabel">Ajout</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">
        <div class="mb-3 ">
          <input type="file">
        </div>
        <div class="mb-3 inputmodal">
          <label for="" class="me-3">Nom : </label>
          <input type="text" >
        </div>
        <div class="mb-3 inputmodal">
          <label for="" class="me-3">Prénom : </label>
          <input type="text">
        </div>
        <!-- <div class="mb-3 inputmodal">
          <label for="" class="me-3">Nombre : </label>
          <input type="number">
        </div> -->
        <div class="mb-3 inputmodal">
          <label for="" class="me-3">Membre : </label>
          <input type="text">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn fermer " data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn ajoutelemnt ">Ajouter</button>
      </div>
    </div>
  </div>
</div>
