<header></header>
<div class="contenu">

  <h1>Mentions Légales</h1>
<p>
  Bienvenue sur <b>Sama Ndouguou</b>. Cette page contient les informations légales relatives à l'utilisation de notre plateforme. En accédant à nos services, vous acceptez les conditions énoncées ci-dessous.
</p>

<h3>1. Informations Éditoriales</h3>
<p>
  <b>Sama Ndouguou</b> est édité par <b>Sama Ndouguou.com</b>, société a responsabilité limite (S.A.R.L), au capital de 1 000 000, immatriculé(e) au Registre du Commerce et des Sociétés sous le numéro SNDKR2010B15028. Le siège social est situé à Mermoz Pyrotechnie N°21.
</p>

<h3>  2. Directeur de la Publication </h3>
<p>
  La directrice de la publication de <b>Sama Ndouguou</b> est Dieynaba HAMADY MARIGO, apprenante à Simplon, joignable à dieynabahamadymarigo2000@gmail.com ou +221 78 210 56 91.
</p>

<h3>
  4. Propriété Intellectuelle
</h3>
<p>
  Tous les contenus présents sur <b>Sama Ndouguou</b> (textes, images, logos, etc.) sont la propriété de <b>Sama Ndouguou.com</b> et sont protégés par les lois sur la propriété intellectuelle. Toute reproduction ou utilisation non autorisée est interdite.
</p>

<h3>
  5. Collecte de Données Personnelles
</h3>
<p>
  Nous collectons des données personnelles dans le respect de notre politique de confidentialité. Vous pouvez consulter notre politique de confidentialité pour en savoir plus sur la manière dont nous traitons vos données.
</p>

<h3>
  6. Cookies
</h3>
<p>
  Nous utilisons des cookies pour améliorer votre expérience utilisateur. Consultez notre politique de cookies pour obtenir des informations détaillées sur l'utilisation des cookies sur <b>Sama Ndouguou</b>.
</p>

<h3>
  7. Responsabilité
</h3>
<p>
  <b>Sama Ndouguou.com</b> décline toute responsabilité quant à l'utilisation du contenu de <b>Sama Ndouguou</b>. L'utilisateur est responsable de l'utilisation qu'il fait des informations disponibles sur le site.
</p>

<h3>
  8. Modifications des Mentions Légales
</h3>
<p>
  <b>Sama Ndouguou.com</b> se réserve le droit de modifier ces mentions légales à tout moment. Les utilisateurs seront informés des changements importants, mais il est de leur responsabilité de consulter régulièrement cette page.
</p>

<h3>
  9. Contact
</h3>
<p>
  Pour toute question ou préoccupation concernant ces mentions légales, veuillez nous contacter par e-mail <b>smndouguou@gmail.com</b> ou par téléphone <b>77 777 77 77</b>.
</p>


</div>
