
/* catégories */
.catégorie{
  padding-top: 90px;
  padding-left: 275px;
  /* padding: 40px 10px; */

}
/* button ajouter et search */
.gbutton{
  display: flex;
  padding-left: 85px;
  /* padding-bottom: 40px; */
  /* border: 2px solid; */
}
.ajout button{
  background-color: white;
  color: #1A6060;
  font-weight: bold;
  border-bottom: none;
  border-right: none;
  border-top: 3px solid #1A6060;
  border-left: 3px solid #1A6060;
  box-shadow: 2px 2px 0px 1px #2FA7A7;
  border-radius: 30px;
  padding: 4px 30px;

}
.recherche input{
  background-color: white;
  border-bottom: none;
  border-right: none;
  border-top: 3px solid #1A6060;
  border-left: 3px solid #1A6060;
  box-shadow: 2px 2px 0px 1px #2FA7A7;
  border-radius: 30px;
  padding: 4px 4px;
  outline: none;
}
.recherche i{
  margin-left: -30px;
  color: #1A6060;
}

/*  */
.gcarte{
  /* padding-top: 30px; */
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
  justify-content: space-evenly;
}
.cartepacks{
  /* height: 25rem; */
  width: 16rem;
  border-top:none;
  border-bottom:none;
  border-left:6px dashed #1A6060;
  border-right:6px dashed #1A6060;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
}
.cartepacks h5 {
  font-weight: bold;
  /* border: 2px solid; */
}
.contenupacks{
  border-top:6px solid #1A6060;
  border-left:6px solid #1A6060;
  width: 90px;
  height: 70px;
  margin-left: -6px;
}
.contenupacks2{
  border-bottom:6px solid #1A6060;
  border-right:6px solid #1A6060;
  width: 90px;
  height: 70px !important;
  margin-left: 160px;
  margin-top:-20px;
  box-shadow:6px 6px #2FA7A7;
  border-radius:0px 10px 0px 10px ;
}
.imglegumes{
  width: 14rem;
  margin:0 auto;
  margin-top: -40px;
  /* margin-top: -60px; */
  /* border: 2px solid; */
}
.imgperson{
  width: 14rem;
  border-top-right-radius: 40px;
  margin:0 auto;
  margin-top: -55px;
  /* border: 2px solid; */
}
.imgpacks{
  width: 14rem;
  height: 11rem;
  margin-top: -60px;
  /* border: 2px solid; */
}
.titreproduits{
  font-weight: bold;
}
 .titreproduits h4{
  font-weight: bold;
  /* border: 2px solid; */
}
.titreproduits p{
  font-size: 20px;
  /* border: 2px solid; */
}
.iconproduits{
  color: #1A6060;
  font-size: 25px;
  padding: 0px 10px;
  display: flex;
  justify-content: end;
  margin-top: -10px;
  /* border: 2px solid; */
}

/* pagination */
.iconpagination{
  padding-top: 50px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
  color: #1A6060;
  font-size: 30px;
  cursor: pointer;
  /* border: 2px solid; */
}
.un{
  background-color: #1A6060;
  padding: 0px 5px 0px 5px;
  color: white;
}

/* Modal */
.titremodal{
  color: #1A6060;
  font-weight: bold;
}
.inputmodal label{
  font-weight: bold;
  font-size: 20px;
}
.inputmodal input{
  border: 2px solid #1A6060;
  border-radius: 30px;
  outline: none;
  padding: 3px 3px;
}
.fermer{
    background-color: white;
    color: #1A6060;
    font-weight: bold;
    border-bottom: none;
    border-right: none;
    box-shadow: 2px 2px 0px 1px #2FA7A7;
    border-radius: 30px;
    padding: 4px 20px;

}
.fermer:hover {
  border: none;
  color: #1A6060;
}
.ajoutelemnt{
  background-color: white;
  color: #1A6060;
  font-weight: bold;
  border-bottom: none;
  border-right: none;
  border-top: 3px solid #1A6060;
  border-left: 3px solid #1A6060;
  box-shadow: 3px 3px 0px 1px #2FA7A7;
  border-radius: 30px;
  padding: 4px 20px;
}
.ajoutelemnt:hover {
  border-top: 3px solid #1A6060;
  border-left: 3px solid #1A6060;
  color: #1A6060;
}
.modal {
  --bs-modal-zindex: 1055;
  --bs-modal-width: 800px;
}
  .delete{
    background-color: transparent;
    color: #1A6060;
    border: none;
    font-size: 25px;
  }
/* .modalListe{
  width: 700rem !important;
  border: 2px solid black;
} */
